<div class="navbar">
  <form action="#" class="nav-form">
    <img src="/icons/Search.svg" alt="Search Icon" />
    <input
      type="text"
      class="nav-input"
      placeholder="Search patient, claim ID or status..."
    />
  </form>
  <div class="nav-icons">
    <img src="/icons/Repeat.svg" alt="Repeat Icon" /><img
      src="/icons/Bell.svg"
      alt="Bell Icon"
    />
  </div>
  <div class="nav-profile">
    <div class="nav-profile-titles">
      <p class="nav-profile-heading">Dr. Sarah Mitchell</p>
      <p class="nav-profile-description">Practice Manager</p>
    </div>
    <img src="/icons/User Profile Avatar.svg" alt="User Profile Avatar" />
  </div>
</div>
