<div class="sidebar">
            <div class="sidebar-topside">
                <div class="sidebar-title">
                <h3>MediBill Pro</h3>
                <p>SaaS Admin</p>
            </div>
            <div class="sidebar-options">
                <li class="sidebar-option1 sidebar-option"><img src="/icons/Dashboard.svg" alt="Dashboard Icon"><a href="/dashboard">Dashboard</a></li>
                <li class="sidebar-option2 sidebar-option"><img src="/icons/Profile.svg" alt="Profile Icon"><a href="/patients">Patients</a></li>
                <li class="sidebar-option3 sidebar-option"><img src="/icons/Appointment.svg" alt="Appointment Icon"><a href="/appointments">Appointments</a></li>
                <li class="sidebar-option4 sidebar-option"><img src="/icons/Billing.svg" alt="Billing Icon"><a href="/billings">Medical Billing</a></li>
                <li class="sidebar-option5 sidebar-option"><img src="/icons/Insurance.svg" alt="Insurance Icon"><a href="/insurances">Insurance Claims</a></li>
                <li class="sidebar-option6 sidebar-option"><img src="/icons/Report.svg" alt="Report Icon"><a href="/reports">Reports</a></li>
                <li class="sidebar-option7 sidebar-option"><img src="/icons/Management.svg" alt="Management Icon"><a href="/managements">Denials Management</a></li>
            </div>
            </div>
            <div class="sidebar-btns">
                <a class="sidebar-btns-button" href="/claims" >+ New Claim</a>
                <li class="sidebar-btn"><img src="/icons/Setting.svg" alt="Setting Icon"><a href="/settings">Settings</a></li>
                <li class="sidebar-btn"><img src="/icons/Support.svg" alt="Support Icon"><a href="/managements">Support</a></li>
            </div>
        </div>